[tool.poetry]
name = "cy-weather-api"
version = "0.1.5"
description = "Caiyun Weather API Python SDK"
authors = ["Caiyunapp <admin@caiyunapp.com>"]
readme = "README.md"
repository = "https://github.com/caiyunapp/caiyun-weather-api-python-sdk"

[tool.poetry.dependencies]
python = "^3.6.1"
requests = "^2.23.0"
orjson = "^3.0.0"
dacite = "^1.5.0"

[tool.poetry.dev-dependencies]
pre-commit = "^2.3.0"
black = "^19.10b0"
flake8 = "isort"
pytest = "^6.0.1"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
